extends layout

block content
  h1= title
  // book, imprint, status, due_back
  form(method='POST').d-flex.flex-column.gap-2.w-75
    label(for='name') Book:
      |
      | #[a.btn.btn-secondary.btn-sm(href='/catalog/book/create') Add new]
      if !Boolean(books)
        div.spinner-grow.spinner-grow-sm.mx-3(role="status")
          span.visually-hidden "Loading..."
      select#book.form-select.mt-2(
        name='book',
        disabled=!Boolean(books),
        required,
        value=(undefined===instance ? '' : instance.book),
      )
        if books
          each book in books
            option(value=book._id) #{book.title}
        else
          div
            div.spinner-grow.spinner-grow-sm(role="status")
              span.visually-hidden "Loading..."

    label.form-label(for="status") Status:
      select#status.form-select.mt-2(
        name='status',
        required,
        value=(undefined===instance ? '' : instance.status),
      )
        option(value='Maintenance') Maintenance
        option(value='Available') Available
        option(value='Loaned') Loaned
        option(value='Reserved') Reserved

    label.form-label(for="imprint") Imprint:
      input#imprint.form-control(
        type='text',
        name='imprint',
        required,
        value=(undefined===instance ? '' : instance.imprint),
      )

    label.form-label(for="due_back") Due back:
      input#due_back.form-control(
        type='date',
        name='due_back',
        value=(undefined===instance ? '' : instance.due_back),
      )

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li #{error.path.charAt(0).toUpperCase() + error.path.slice(1)}
        |
        | #{error.msg}
